.gh.ui.button {
	background-color: #4f4f4f;
	color: white;
}
.ig.ui.button {
	background-color: #fd6852;
	color: #9300a8;
}
.cp.ui.button {
	background-color: black;
	color: white;
}

.contact-con {
	margin-top: 10rem;
	text-align: center;
}
