.fb.ui.button {
	background-color: #4868ad;
	color: white;
}

.gh.ui.button {
	background-color: #4f4f4f;
	color: white;
}
.ig.ui.button {
	background-color: #fd6852;
	color: #9300a8;
}
.cp.ui.button {
	background-color: black;
	color: white;
}
.lk.ui.button {
	background-color: #0077b5;
	color: white;
}
